
/* Your CSS Code here. */
.flex-box{
	background-color: orange;
	width: 200px;
	height:200px;

	display: flex;
	gap:10px;

	align-items:  top;

	flex-wrap:wrap;
}
.flex-item{
	padding: 20px;
	background-color: red;
	align-self: flex-start;
}
